
@{
    ViewBag.Title = "CreateNewSurvey";
}

<h3>Survey Name: @ViewBag.SurveyName</h3>

<row class="row">
    <div class="col-md-3 well">
        <div style="min-width:200px; max-width:250px;">
            @Html.Action("BuilderPartial")
        </div>
    </div>
    <div class="col-md-9 well">
        <div class="@ViewBag.QEditorContainerClass">
            <h1>Add question from the builder...</h1>
            <div id="displayLoading" style="display: none">
                Pesho
                <img src="../../Content/Images/loading.gif" alt="" />
            </div>
        </div>
    </div>
</row>


