@model List<LightSurvey.Web.Models.SliderImageViewModel>

<script src="~/Scripts/jssor.slider.mini.js"></script>
<link href="~/Content/Slider/slider.css" rel="stylesheet" />

<!--#region Jssor Slider Begin -->
<!-- To move inline styles to css file/block, please specify a class name for each element. -->
<div class="slider-container" id="slider1_container">

    <!-- Slides Container -->
    <div class="slides-container" u="slides">
        @foreach (var image in @Model)
        {
            <div>
                <img u="image" src="@image.Path" />
            </div>
        }
    </div>


    <!-- bullet navigator container -->
    <div u="navigator" class="jssorb05" style="bottom: 16px; right: 6px;">
        <!-- bullet navigator item prototype -->
        <div u="prototype"></div>
    </div>
    <!--#endregion Bullet Navigator Skin End -->
    <!-- Trigger -->
    <script>
        init_jssor_slider1 = function (containerId) {

            var options = {
                $AutoPlay: false,                                   //[Optional] Whether to auto play, to enable slideshow, this option must be set to true, default value is false
                $SlideDuration: 750,                                //[Optional] Specifies default duration (swipe) for slide in milliseconds, default value is 500
                $PauseOnHover: 2,

                $BulletNavigatorOptions: {                                //[Optional] Options to specify and enable navigator or not
                    $Class: $JssorBulletNavigator$,                       //[Required] Class to create navigator instance
                    $ChanceToShow: 2,                               //[Required] 0 Never, 1 Mouse Over, 2 Always
                    $AutoCenter: 1,                                 //[Optional] Auto center navigator in parent container, 0 None, 1 Horizontal, 2 Vertical, 3 Both, default value is 0
                    $Steps: 1,                                      //[Optional] Steps to go for each navigation request, default value is 1
                    $Lanes: 1,                                      //[Optional] Specify lanes to arrange items, default value is 1
                    $SpacingX: 10,                                  //[Optional] Horizontal space between each item in pixel, default value is 0
                    $SpacingY: 10,                                  //[Optional] Vertical space between each item in pixel, default value is 0
                    $Orientation: 1                                 //[Optional] The orientation of the navigator, 1 horizontal, 2 vertical, default value is 1
                }
            };

            var jssor_slider1 = new $JssorSlider$(containerId, options);
        }

        init_jssor_slider1("slider1_container");
    </script>
</div>
<!--#endregion Jssor Slider End --> 

