@{
    ViewBag.Title = "Contact";
}
<h3>@ViewBag.Title.</h3>

<address>
    Marin Draganov
    <br />
    <abbr title="Phone">0883 344 219</abbr>
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">marodraganov@gmail.com</a><br />
</address>