@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>LightSurvey</h1>
    <p class="lead">With LightSurvey you can create simple surveys easy and fast for free!</p>
    @Html.Action("SliderPartial")
</div>